
.cls-299 {
    fill: #7effcc;
}

.cls-6 {
    fill: #404170
}

.cls-8 {
    fill: #bffee6
}

.cls-9 {
    fill: #31feae
}

.cls-13 {
    fill: #7d9cff
}

.cls-16 {
    fill: #5f84fb
}

.cls-20,
.cls-22 {
    fill: none
}

.cls-20 {
    stroke: #fff;
    stroke-width: 2px
}

.cls-21 {
    fill: #606cb9
}

.cls-22 {
    stroke: #a1ffd9;
    stroke-width: 3px
}

.cls-1 {
    fill: #a1ffd9
}

.cls-2 {
    fill: #f5f5f5
}

.cls-3 {
    fill: #c4d1fe
}

.cls-6 {
    fill: #bffee6
}

.cls-7 {
    fill: #31feae
}

.cls-11 {
    fill: #7d9cff
}

.cls-14 {
    fill: #5f84fb
}

.cls-17,
.cls-19 {
    fill: none
}

.cls-17 {
    stroke: #fff;
    stroke-width: 2px
}

.cls-18 {
    fill: #606cb9
}

.cls-19 {
    stroke: #a1ffd9;
    stroke-width: 3px
}

.add__icon {
    width: 10rem;
    margin-bottom: 1.15rem;
}

.city__illustration {
    width: 15rem;
}
